In [2]:
import pandas as pd
import numpy as np
import os
import json
import requests
import gc
from tqdm import tqdm

pd.options.display.max_columns = 100
pd.options.display.max_rows=1000


pd.options.display.max_columns = 100
pd.options.display.max_rows=1000

c:\Users\Owner\miniconda3\envs\stats\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [4]:
# lct = "/Users/nam-yeong/Downloads/balso_tmp"
# folders = [file for file in os.listdir(lct) if file.endswith('.csv')]
# folders.sort()
# for i in folders:
#     print(os.path.join(lct,i))
    


# df_tst = pd.read_csv(f"/Users/nam-yeong/Downloads/balso_tmp/{folders[-1]}")
# df_tst_2 = pd.read_csv(f"/Users/nam-yeong/Downloads/balso_tmp/{folders[-2]}")

df = pd.concat([df_tst,df_tst_2],axis=0)

del df_tst, df_tst_2
gc.collect()

0

In [5]:
df.head()

,Event Category,Event Action,Event Label,Event Value,Event Date,Event Datetime,Semantic Event Properties,Custom Event Properties,Total Revenue,Total Revenue (Original),Currency,Currency (Original),Product List,Product ID,Product Name,Product Price,Product Quantity,Product Currency,Product Position,Product Brand ID,Product Brand Name,Product Category ID,Product Category Name,Airbridge Device ID,Platform,User ID
0,Ad Impression (App),직광고_쿠팡,홈_상단_캐시버튼,NaN,2024-04-21,2024-04-21T23:59:59+09:00,"{""products"":[{""name"":""줄눈이오 타일줄눈, 은펄홀로그램 바닥용"",""...",{},NaN,NaN,NaN,NaN,"[{""name"":""줄눈이오 타일줄눈, 은펄홀로그램 바닥용"",""position"":0,...",NaN,"줄눈이오 타일줄눈, 은펄홀로그램 바닥용",12240.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,6a33794d-f4bb-48ef-b656-9f85a29bdecc,Android,79a63e5d-479b-4444-941f-378c266aecba
1,Ad Click (App),직광고_쿠팡,홈_상단_캐시버튼,NaN,2024-04-21,2024-04-21T23:59:59+09:00,"{""products"":[{""name"":""제이로사 14K반지 할로우 컷팅 우정 여자 ...",{},NaN,NaN,NaN,NaN,"[{""name"":""제이로사 14K반지 할로우 컷팅 우정 여자 실반지 레이어드 로즈골...",NaN,제이로사 14K반지 할로우 컷팅 우정 여자 실반지 레이어드 로즈골드 옐로우,52900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7d435e75-3267-4cc1-9760-6c2012ecad57,Android,18508ebc-cb65-423e-8d4e-2186fbdbf32a
2,Ad Impression (App),직광고_쿠팡,홈_상단_캐시버튼,NaN,2024-04-21,2024-04-21T23:59:59+09:00,"{""products"":[{""name"":""로탈라 홍콩(10촉)"",""position"":...",{},NaN,NaN,NaN,NaN,"[{""name"":""로탈라 홍콩(10촉)"",""position"":0,""price"":30...",NaN,로탈라 홍콩(10촉),3040.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,C8BCE4F4-1C73-49D6-8647-56EF966A5961,iOS,891a3131-03e5-4fff-88f6-51fe5ffcf7ed
3,Ad Impression (App),직광고_쿠팡,홈_상단_캐시버튼,NaN,2024-04-21,2024-04-21T23:59:59+09:00,"{""products"":[{""name"":""닥터워터 필터샤워헤드 리필 _ 대용량 12P...",{},NaN,NaN,NaN,NaN,"[{""name"":""닥터워터 필터샤워헤드 리필 _ 대용량 12P, 12개"",""posi...",NaN,"닥터워터 필터샤워헤드 리필 _ 대용량 12P, 12개",27920.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,157CF556-781F-4E89-8DBE-3A4BD80AFC82,iOS,5a1fe6b1-6a6b-440a-91a6-1014400a4be4
4,Ad Impression (App),직광고_쿠팡,홈_상단_캐시버튼,NaN,2024-04-21,2024-04-21T23:59:59+09:00,"{""products"":[{""name"":""아베른 미술 수채화 물통, 블루"",""posi...",{},NaN,NaN,NaN,NaN,"[{""name"":""아베른 미술 수채화 물통, 블루"",""position"":0,""pri...",NaN,"아베른 미술 수채화 물통, 블루",10120.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,3b1440a7-362e-4360-b386-66a4562f03d6,Android,a42f76c3-40fc-41ca-8af2-ab4aa02844f1

In [29]:
access_key = pd.read_csv('../../cp_data.csv').iloc[0,1]
secret_key = pd.read_csv('../../cp_data.csv').iloc[1,1]

import requests
import hmac
import hashlib
from time import gmtime, strftime

REQUEST_METHOD = "GET"
DOMAIN = "https://api-gateway.coupang.com"
URL = "/v2/providers/affiliate_open_api/apis/openapi/v1/reports/clicks"

# Replace with your own ACCESS_KEY, SECRET_KEY, startDate, endDate
ACCESS_KEY = access_key
SECRET_KEY = secret_key
startDate = "20240420"
endDate = "20240421"
# Assuming subId is not required, if needed add it to the query parameters

def generateHmac(method, url, secretKey, accessKey, queryString=""):
    # Correct formatting for date-time if needed
    datetimeGMT = strftime('%y%m%d', gmtime()) + 'T' + strftime('%H%M%S', gmtime()) + 'Z'
    message = datetimeGMT + method + url + queryString

    signature = hmac.new(bytes(secretKey, 'utf-8'), 
                         message.encode('utf-8'), 
                         hashlib.sha256).hexdigest()

    return "CEA algorithm=HmacSHA256, access-key={}, signed-date={}, signature={}".format(accessKey, datetimeGMT, signature)


def fetch_data(page):
    queryString = "startDate={}&endDate={}&page={}".format(startDate, endDate, page)
    fullURL = "{}{}?{}".format(DOMAIN, URL, queryString)
    authorization = generateHmac(REQUEST_METHOD, URL, SECRET_KEY, ACCESS_KEY, queryString)
    response = requests.request(method=REQUEST_METHOD, url=fullURL,
                                headers={
                                    "Authorization": authorization,
                                    "Content-Type": "application/json"
                                })
    return response.json()

def main():
    page = 1
    results = []

    while True:
        response = fetch_data(page)
        if 'data' in response:
            results.extend(response['data'])
            if len(response['data']) < 1000:
                break
            page += 1
        else:
            # Handle errors or missing 'data' key
            print(f"Error retrieving data: {response.get('message', 'No error message available')}")
            break

    print(f"Total items fetched: {len(results)}")
    return results


# Execute the main function to handle pagination
all_data = main()

Total items fetched: 32929

In [34]:
cp = pd.DataFrame(all_data)
cp.click.sum()

102990

In [37]:
len(df.query('`Event Category`.str.contains("Click")'))

98231

In [17]:
lst = cp.subParam.unique().tolist()

df.query('`User ID` in @lst')['User ID'].nunique()

770

In [22]:
df.query('`User ID`.isna()')['Airbridge Device ID'].nunique()/df['Airbridge Device ID'].nunique()

0.09953834075742836

In [7]:
df.head(2)

,Unnamed: 0,Event Date,trackingCode,subId,User ID,addtag,ctag,orderId,productId,prev_prop,quantity,gmv,commissionRate,commission
6154,6154,2024-04-03,AF3155932,homecoin,d5ac3b54-1ba4-42c0-be8f-28a3ce3f4eb5,460,327924416,8244947215083538,7215473660,미농찰진 2023년 찹쌀,1,11980.0,5.25,629.0
6155,6155,2024-04-03,AF3155932,homecoin,NaN,460,5520083713,8324948315451016,2453926,복음자리 딸기잼,1,6560.0,5.25,345.0

In [3]:
df = pd.read_csv('./coupang_0401_0423.csv')
df = df.query('`Event Date`>"2024-04-04"')
df.groupby('User ID')['User ID'].nunique()

User ID
00027209-52db-4a23-9918-3163f8484c4a    1
000518c4-c2c7-45e4-92e0-9cabb94c889b    1
000c2bc8-d3d6-4f98-b73e-0369cd27641b    1
000eac0e-11f4-45f5-95a4-2fe17e4d634e    1
000f4c31-a564-401c-8418-e899d97ab382    1
                                       ..
ffee1886-1689-44a6-a9c0-035aff4632d5    1
fff02bce-ff7e-47b5-b975-4545798b4dc5    1
fff0b45b-7bd8-4781-a35a-bd60a1327057    1
fff389dd-e35f-4c5c-9979-105e15cf0a6e    1
fff79c69-957e-45a8-8100-10085e8322c2    1
Name: User ID, Length: 18496, dtype: int64

In [4]:
non_result = df.groupby('Event Date').agg({'User ID':['count','size']})
non_result.columns = non_result.columns[1]
non_result.columns = ['구매수(누락없음)','구매수(전체)']

non_result = non_result.reset_index()
non_result['누락 비율'] = 1- non_result['구매수(누락없음)'] / non_result['구매수(전체)'] 
non_result['누락 수'] = non_result['구매수(전체)'] - non_result['구매수(누락없음)']
non_result

    Event Date  구매수(누락없음)  구매수(전체)     누락 비율  누락 수
0   2024-04-05       2636     2720  0.030882    84
1   2024-04-06       2646     2725  0.028991    79
2   2024-04-07       2685     2738  0.019357    53
3   2024-04-08       2868     2904  0.012397    36
4   2024-04-09       2676     2713  0.013638    37
5   2024-04-10       2936     2984  0.016086    48
6   2024-04-11       3205     3241  0.011108    36
7   2024-04-12       2910     2930  0.006826    20
8   2024-04-13       2835     2863  0.009780    28
9   2024-04-14       2729     2776  0.016931    47
10  2024-04-15       2885     2909  0.008250    24
11  2024-04-16       3105     3127  0.007035    22
12  2024-04-17       3142     3160  0.005696    18
13  2024-04-18       2385     2405  0.008316    20
14  2024-04-19       1789     1820  0.017033    31
15  2024-04-20       1566     1599  0.020638    33
16  2024-04-21       1323     1358  0.025773    35
17  2024-04-22       1734     1747  0.007441    13
18  2024-04-23       1839     1855  0.008625    16

In [21]:
user_pchs = df[df['gmv']>0].groupby('User ID').agg({'quantity':'sum','gmv':'sum','prev_prop':lambda x: ', '.join(x)}).sort_values(by='gmv',ascending=False)
user_pchs.to_excel('./cp_rev.xlsx',engine='openpyxl')

In [22]:
user_pchs

,quantity,gmv,prev_prop
User ID,,,
fb7efabb-58aa-43c1-927f-84fb568a9043,4,4586000.0,"TCL 4K Mini LED 안드로이드11 TV, TCL 4K Mini LED 안드..."
a17fd1a6-b217-44f3-acb3-27ffd5a3c310,6,4429310.0,"슈페라르 갤럭시 Z폴드3 힌지 보호 S펜 수납 케이스 그린, 폰위드 갤럭시 Z폴드3..."
ac4802ee-8cc8-4e44-a770-6f85b5f94383,13,3554424.0,바른생활 NANUM-5000 도킹 듀얼 고속 보조배터리 5000mAh C타입/8...
19b4ce39-6ebd-4ba9-a43e-4f2653b25446,1,2970000.0,[사은품증정]Copland(코플랜드) DAC 215 진공관DAC [블랙색상][실재고...
e36dbc14-e2a8-47ab-89a0-4871a2c959c1,2,2891330.0,[색상선택형] LG전자 오브제컬렉션 양문형 4도어 냉장고 메탈 디오스 매직스페이스 ...
...,...,...,...
92f9093e-b399-46fa-8f11-f9ef2c1ea8bb,1,260.0,마운틴트레커 경량 등산배낭 28L
a271d230-8305-4504-866d-e175fc7a35f9,1,240.0,피어니스트 자이언트얀 점보 핑거니팅 손뜨개실
6784f8fd-ff99-4f7f-8329-2c4fa4c24e7d,1,100.0,[쿠팡뷰티] 메가뷰티쇼 버추얼 스토어 2024#_D:쿠팡뷰티 메가뷰티쇼 버추얼 스토...
0ce27b70-b93c-43a1-a7ea-ce1829189a9b,1,100.0,[쿠팡뷰티] 메가뷰티쇼 버추얼 스토어 2024#_D:쿠팡뷰티 메가뷰티쇼 버추얼 스토...
efd1091f-a242-45b6-92e6-5ed2fca2e39e_20240423140714,4,2.0,퍼리든 엔버스트 책상책장 세트 방문설치

In [50]:
print('환불율 : ', len(df[df['gmv']==0])/len(df))

환불율 :  0.0016675587763000782

In [60]:
df.prev_prop.str.contains('실시간').sum()

3

In [18]:
df[df['quantity']!=0][['User ID', 'prev_prop', 'quantity', 'gmv', 'commissionRate','commission']].to_csv('./cp_rev_2.csv')

In [26]:
tmp = df[df['gmv']>0]

In [28]:
tmp = tmp[['User ID', 'prev_prop', 'quantity', 'gmv','prev_prop']]

In [37]:
user_pchs['unit_price'] = round(user_pchs['gmv'] / user_pchs['quantity'],3)
user_pchs[['gmv','unit_price','quantity']].corr()

                 gmv  unit_price  quantity
gmv         1.000000    0.716856  0.290279
unit_price  0.716856    1.000000 -0.076086
quantity    0.290279   -0.076086  1.000000